.locale-switcher {
  display: flex;
  min-width: 25px;

  .locale-switcher__locale {
    display: flex;
    margin-right: 10px;

    &.locale-switcher__locale--selected {
      color: #472715;
    }

    &:last-of-type {
      margin-right 0;
    }
  }
}
